absl-py
aiohttp
anaconda-client
aniso8601
appdirs==1.4.4
argh==0.26.2
argon2-cffi
arviz
asgiref
astor==0.8.1
asttokens==2.0.5
astunparse==1.6.3
async-generator
async-timeout==3.0.1
atomicwrites==1.4.0
attrs
backcall
beautifulsoup4==4.6.0
bkcharts==0.2
black==19.10b0
bleach
blinker==1.4
boto==2.49.0
boto3==1.20.21
botocore==1.23.21
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools
certifi==2021.10.8
cffi
cftime
chardet
charset-normalizer
click==8.0.3
cloudpickle
clyent
colorama
comtypes==1.1.9
contextlib2
cryptography
cycler==0.10.0
Cython
cytoolz==0.11.0
dask==2021.10.0
debugpy
decorator
defusedxml
Django==3.2.5
django-cors-headers==3.10.1
django-mysql==4.3.0
djangorestframework==3.12.4
dynaconf==3.1.7
emoji==1.6.1
entrypoints==0.3
executing==0.8.2
fastcache==1.1.0
filelock==3.4.0
Flask
Flask-RESTful
flatbuffers==2.0
fonttools==4.25.0
fsspec
future==0.18.2
gast
google-auth
google-auth-oauthlib==0.4.1
google-pasta
googlemaps==4.5.3
grpcio
h5py==3.6.0
HeapDict
huggingface-hub==0.2.1
hvac==0.11.2
icecream==2.1.1
idna
imagecodecs
imageio
importlib-metadata
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jdcal
jedi
Jinja2
jmespath==0.10.0
joblib
JPype1==1.0.2
json5==0.9.5
jsonschema
jupyter==1.0.0
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
keras==2.7.0
Keras-Preprocessing
kiwisolver
knox==0.1.14
konlpy==0.5.2
kss==3.3.1.1
libclang==12.0.0
llvmlite==0.36.0
locket==0.2.1
loguru==0.5.3
lxml
Markdown
MarkupSafe==1.1.1
matplotlib
matplotlib-inline
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.3.1
mkl-random
mkl-service
more-itertools
mpmath==1.2.1
multidict
multipledispatch==0.6.0
munkres==1.1.4
mypy-extensions==0.4.3
mysqlclient==2.1.0
nbclient
nbconvert
nbformat
nest-asyncio
netCDF4
networkx
notebook
numexpr
numpy
oauthlib
olefile
opt-einsum==3.3.0
packaging
pandas
pandas-datareader
pandocfilters
parso==0.7.0
partd
pathspec==0.7.0
patsy==0.5.1
pep8==1.7.1
pickleshare
Pillow==8.4.0
pkginfo==1.7.0
pluggy
ply==3.11
prometheus-client
prompt-toolkit
protobuf==3.17.2
psycopg2
py
pyasn1
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser
pycurl
Pygments
PyJWT
pyOpenSSL
pyparsing
pyreadline==2.1
pyrsistent
PySocks
pystan==2.19.1.1
pytest==6.2.3
python-dateutil
python3-openid
pytz==2020.1
PyWavelets
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==20.0.0
QDarkStyle==2.8.1
qtconsole
QtPy
regex
requests
requests-oauthlib==1.3.0
rsa
s3transfer==0.5.0
sacremoses==0.0.46
schedule==1.1.0
scikit-image==0.18.1
scikit-learn
scipy
selenium
Send2Trash
shortuuid==1.0.8
simplegeneric==0.8.1
sip
six
soupsieve==2.3.1
SQLAlchemy
sqlparse
statsmodels==0.12.2
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-estimator==2.7.0
tensorflow-gpu==2.7.0
tensorflow-io-gcs-filesystem==0.22.0
termcolor==1.1.0
terminado==0.9.4
testpath
threadpoolctl
tifffile
tokenizers==0.10.3
toml
toolz
tornado
tqdm==4.62.3
traitlets
transformers==4.12.5
tweepy==3.10.0
typed-ast
typing-extensions
unicodecsv==0.14.1
urllib3
validators==0.18.2
wcwidth
webencodings==0.5.1
Werkzeug
widgetsnbextension==3.5.1
win-inet-pton
win32-setctime==1.0.4
wincertstore==0.2
wrapt==1.12.1
xarray
xlwings
xlwt==1.3.0
yarl
zict==2.0.0
zipp
zope.event==4.5.0
gunicorn==20.1.0
